extends ../layout
block projects_all
  
  div.wrapper
    nav
        a(href="/projects/") Add project
        span |
        a(href="/") Home 
    div.list__section
      h1 #{title}
      - each project, i in projects
            ul
              li Project id: #{project._id}
              li Project name: #{project.project_name}
              li Project description: #{project.project_description}
              li Project tasks: #{project.project_tasks}
              li Project price: #{project.project_price}
              li Project members:
              form(action="/projects/"+project._id, method='GET')
                button(type="submit") Edit

        
    