extends ../layout
block projects_show
  
  div.wrapper
    nav
        a(href="/projects/") Add project
        span |
        a(href="/projects/all") All projects
        span |
        a(href="/") Home
        span |
        a(href="/users/logout") Logout
    div.project-info__section
      h1 #{title}
      ul
        form(action="/projects/update/#{project._id}" method='POST' class="section__button--update")
          li Project name: 
            input(type="text" value="#{project.project_name}" name="project_name")  
          li Project description: 
            input(type="text" value="#{project.project_description}" name="project_description")  
          li Project tasks: 
            input(type="text" value="#{project.project_tasks}" name="project_tasks")
          li Project price ($): 
            input(type="number" value="#{project.project_price}" name="project_price")
          li(class="section__date") Project start date:
            - const initialStartDate = new Date(project.project_start_date).toLocaleDateString('en-CA')
            input(type="date" name="project_start_date" value=initialStartDate)
          li(class="section__date") Project end date: 
            - const initialEndDate = new Date(project.project_end_date).toLocaleDateString('en-CA')
            input(type="date" required name="project_end_date" value=initialEndDate)
          li Project members:
            span  #{project.project_members}
          button(type="submit") Update
        form(action="/projects/delete/#{project._id}" method='POST' class="section__button--delete")
          button(type="submit") Delete
      
    div.project-add__section
      ul
        form(action="/projects/add-member/#{project._id}" method='POST' class="section__button--add")
          li Add project member:
          input(type="text" name="project_member")
          button(type="submit") Add 

        
    